.card {
  // basic card class with padding
  background-color: white;
  box-shadow: $shadow-default;
  border-radius: $border-radius-default;
  margin: 7px 0;
  padding: 20px;
}

.languages {
  display: flex;
  justify-content: center;
  li {
    margin: 10px 20px;
    cursor: pointer;
  }
}

.popular {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__rank {
    font-size: 1.2em;
    margin: 10px;
  }
  &__item {
    margin: 45px;
    text-align: center;
  }
  &__avatar {
    width: 150px;
    border-radius: 50%;
  }
  &__title {
    font-size: 1.2em;
  }
}
